{% extends "showcase_projects/base.html" %}

{% block title %}Пост{% endblock %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">Количество мест: {{ project.place }}</p>
            <p class="card-text">Заказчик:
                <a href="{% url 'project-user' project.customer.username %}" class="card-text">{{ project.customer.username }}</a>
            </p>
        </div>
    </div>
    {% if object.customer == user %}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-update' object.id %}">Редактировать</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project-delete' object.id %}">Удалить</a>
    </div>
    {% endif %}
</article>

{% endblock content %}